{% extends "home.html" %}
{% block title %}{{ account.user.name }}{% endblock %}
{% block content %}
<div class="container py-5 rounded-4 shadow p-1" style="background-color: white;">
    <div class="mb-3 custom-text">
        <label for="exampleFormControlInput1" class="form-label">Přesdivka</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="přesdivka">
    </div>
    <div class="mb-3 custom-text">
        <label for="exampleFormControlInput1" class="form-label">Vaš email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@přiklad.com">
    </div>
    <div class="mb-3 custom-text">
        <label for="exampleFormControlTextarea1" class="form-label">O Vas</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3 custom-text">
        <label for="formFile" class="form-label">Vyberte fotku</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="custom-text">
        <a href="profile.html" class="btn btn-primary">Aktualizace</a>
    </div>
        </div>
{% endblock %}