{% extends "index.html" %}
{% block title %}Create Recipes{% endblock %}
{% block content %}
<div class="container py-5 rounded-4 shadow p-1" style="background-color: white;">
    <div class="mb-3 custom-text">
        <label for="exampleFormControlInput1" class="form-label">Nazev</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nazev">
    </div>
    <div class="mb-3 custom-text">
        <label for="formFile" class="form-label">Vyberte fotku</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="mb-3 custom-text">
        <label for="exampleFormControlTextarea1" class="form-label">Potřebne suroviny</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3 custom-text">
        <label for="exampleFormControlTextarea1" class="form-label">Postup</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="mb-3 custom-text">
        <label for="exampleFormControlTextarea1" class="form-label">Dalsi podstatne věci</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="custom-text">
        <a href="home.html" class="btn btn-primary" type="submit">Zveřejnit</a>
   </div>
</div>
{% endblock %}