{% extends "index.html" %}
{% block title %}Create Recipes{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5 rounded-4 shadow p-1" style="background-color: white;">
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3 custom-text">
            {%csrf_token%}
            {{ form_recipe|crispy }}
            <br>
            <div class="mb-3">
                {{ form_image.image }}
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Upoad recipe</button>
        </div>

    </form>
</div>
{% endblock %}