{% extends "index.html" %}
{% block title %}Recipes{% endblock %}
{% block navbar %}
        <nav class="navbar container mb-1 bg-body shadow p-1 rounded-5" style="background-color: e3f2fd;">
            <div class="container">
                <a class="navbar-brand" href="/home/">
                    <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/logo.png" alt="Logo" width="90" height="90" class="d-inline-block text-center">
                    Recipes
                </a>
                <div class="dropdown">
                    {% if user.is_authenticated %}
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria="false">
                            {% if user.profile.profile_pic %}
                                <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/{{ user.profile.profile_pic }}" alt="mdo" width="34" height="32" class="rounded-circle">
                            {% else %}
                                <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/profile-pic/unkown-profile.jpg" alt="mdo" width="34" height="32" class="rounded-circle">
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu text-small dropdown-menu-end">
                            <li><a class="dropdown-item" href="/create/">Novy resept</a></li>
                            <li><a class="dropdown-item" href="/account-settings/">Nastaveni učtu</a></li>
                            <li><a class="dropdown-item" href="/account/">Učet</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout/">Odhlasit</a></li>
                        </ul>
                    {% else %}
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria="false">
                            <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/profile-pic/unkown-profile.jpg" alt="mdo" width="34" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="/login/">Novy resept</a></li>
                            <li><a class="dropdown-item" href="/login/">Login</a></li>
                            <li><a class="dropdown-item" href="/register/">Sign in</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
{% endblock %}
{% block content %}
    <form class="container py-5 d-flex" role="search">
        <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-primary" type="submit">Hledani</button>
    </form>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                {% for recipes in images %}
                    <div class="card mb-3 shadow p-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/{{ recipes.image }}" class="img-fluid rounded-start rounded fit-cover" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipes.recipe_id.title}}</h5>
                                    <p class="card-text">Tento těstovinový pokrm s bohatou omáčkou je dokonalým spojením sytých chutí a jednoduché přípravy, která vás zaručeně potěší a zahřeje.</p>
                                    <a href="/detail/{{ recipes.id }}/" class="btn btn-primary">Recipe</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}