{% extends "index.html" %}
{% block title %}Recipes{% endblock %}
{% block content %}
<form class="container py-5 d-flex" role="search">
    <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Hledani</button>
</form>
<div class="container py-5">
    <div class="row">
        <div class="col">
            {% for recipes in recipe %}
                <div class="card mb-3 shadow p-2" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <img src="{{ recipes.image.url }}" class="img-fluid rounded-start rounded fit-cover" alt="...">
                        </div>
                        <div class="col-md-12">
                            <div class="card-body">
                                <h5 class="card-title">{{recipes.title}}</h5>
                                <p class="card-text">Tento těstovinový pokrm s bohatou omáčkou je dokonalým spojením sytých chutí a jednoduché přípravy, která vás zaručeně potěší a zahřeje.</p>
                                <a href="recipes/testoviny_s_omackou.html" class="btn btn-primary">Recept</a>    
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}