<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Base{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <!--{% load static %}-->
    <link rel="stylesheet" href="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/style/style.css">
</head>
<body>
    <br>
    {% block navbar %}
    
    {% endblock %}
    {% block content %}
    {% endblock %}
</body>
</html>