# ignore all .log files
*.log

# ignore all folder temp
temp/

# ignore settings.py from app project
app/app/settings.py

# ignore settings.py from awss3app
awss3app/awss3app/settings.py

# ignore idea program
app/.idea
.idea

# ignore __pycache__
app/recipes/__pycache__/
app/app/__pycache__/