# ignore idea program
recipe/.idea
.idea/

# ignore migrations
recipe/app/migrations/
recipe/register/migrations/

# ignore __pycache__ 
recipe/recipe/__pycache__/
recipe/app/__pycache__/
recipe/register/__pycache__/

# ignore requirements
recipe/requirements/

# ignore the folder
recipe/data/
recipe/.env

# ignore .mysql_data
.mysql_data/

# ignore aws-elastic-beanstalk-cli-setup
aws-elastic-beanstalk-cli-setup/

# ignore .vscode folder and .deployment file
recipe/.vscode
recipe/.deployment

# ignore zip file
recipe/recipe.zip
