# ignore idea program
recipe/.idea
.idea/

# ignore migrations
recipe/app/migrations/
recipe/register/migrations/

# ignore __pycache__ 
recipe/recipe/__pycache__/
recipe/app/__pycache__/
recipe/register/__pycache__/

# ignore requirements
recipe/requirements/

# ignore the folder
recipe/data/

# ignoree .mysql_data
.mysql_data/

aws-elastic-beanstalk-cli-setup/