{% extends "index.html" %}
{% block title %}Register{% endblock %}
{% block navbar %}
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <form method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">{%block login_title%}Sign in{%endblock%}</h3>
                            <div class="form-outline mb-4">
                                {%csrf_token%}
                                {{ form|crispy }}
                            </div>
                            <p class="py-4">Profile picture and bio anen't necessary</p>
                            <!--Checkbox--> 
                            <div class="form-check d-flex justify-content-start mb-4">
                                <input clas="form-check-input" type="checkbox" value="" id="form1Example3" />
                                <label class="form-check-label" for="form1Example3"> Remember password </label>
                            </div>
                            {% block login %}
                                <div class="form-check d-flex justify-content-start mb-4">
                                    <a href="/login/">Login</a>
                                </div>
                            {% endblock %}
                            <a href="/login/"><button class="btn btn-primary btn-lg btn-block" type="submit">{% block sign_button %}Sign in{% endblock %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}