{% extends "index.html" %}
{% block title %}Register{% endblock %}
{% block search_box %}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <form method="post">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
                            <h3 class="mb-5">{%block login_title%}Sign in{%endblock%}</h3>
                            <div class="form-outline mb-4">
                                {%csrf_token%}
                                {{ form|crispy }}
                                {% block text %}
                                    <!--<p class="py-1">Profile picture isn't necessary</p>-->
                                    <br>
                                {% endblock %}
                            </div>
                            <!--Checkbox--> 
                            <div class="form-check d-flex justify-content-start mb-4">
                                <input clas="form-check-input" type="checkbox" value="" id="form1Example3"/>
                                <label class="form-check-label" for="form1Example3">Remember password </label>
                            </div>
                            <div class="form-check d-flex justify-content-start mb-4">
                                {% block login %}
                                    <p>You can <a href="/login/">login</a> if you have account already</p>
                                {% endblock %}
                            </div>
                            <a href="/login/"><button class="btn btn-primary btn-lg btn-block" type="submit">{% block sign_button %}Sign in{% endblock %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
    document.getElementById('imageInput2').addEventListener('change', function() {
        const preview = document.getElementById('previewImage2');
        const file = this.files[0];
        const reader = new FileReader();

        reader.onload = function() {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/profile-pic/unkown-profile.jpg";
        }
    });
    </script>
{% endblock %}