{% extends "home.html" %}
{% block title %}Update user{% endblock %}
{% block content %}
    <br>
    <form method="post" enctype="multipart/form-data">
        <div class="container p-4 rounded-4 shadow p-1" style="background-color: white;">
            <div class="mb-3 custom-text">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form_updateuser|crispy }}
                {{ form_profile|crispy }}
            </div>
            <div class="custom-text">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>
        </div>
    </form>
{% endblock %}