{% extends "home.html" %}
{% block title %}Account{% endblock %}
{% block search_box %}{% endblock %}
{% block content %}
    <div class="container py-5">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
            {% for recipes in profile %}
                <div class="col">
                    <div class="card mb-3 shadow p-2" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/{{ recipes.image }}" class="img-fluid rounded-start rounded fit-cover" alt="...">
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipes.recipe_id.title}}</h5>
                                    <p class="card-text">Tento těstovinový pokrm s bohatou omáčkou je dokonalým spojením sytých chutí a jednoduché přípravy, která vás zaručeně potěší a zahřeje.</p>
                                    <a href="/detail/{{ recipes.id }}" class="btn btn-primary">Recipe</a>
                                    {% if user.is_authenticated %}
                                        {% if user in recipes.likes.all %}
                                            <a href="{% url 'recipe_like' recipes.id %}" type="submit" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                                            </svg> {{ recipes.number_of_likes }}</a>
                                        {% else %}
                                            <a href="{% url 'recipe_like' recipes.id %}" type="submit" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                            <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                                            </svg> {{ recipes.number_of_likes }}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="/login/" type="submit" class="btn btn-outline-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                        <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                                        </svg> {{ recipes.number_of_likes }}</a>
                                    {% endif %}
                                    <a href="/edit/{{ recipes.recipe_id.id }}" class="btn btn-primary">Edit</a>
                                    <a href="/delete/{{ recipes.recipe_id.id }}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}