{% extends "home.html" %}
{% block title %}Create Recipe{% endblock %}
{% block search_box %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <br>
    <div class="container py-5 rounded-4 shadow p-1" style="background-color: white;">
        <form method="post" enctype="multipart/form-data">
            <div class="container mb-3 custom-text">
                {% csrf_token %}
                {{ form_recipe|crispy }}
                <br>
                <div class="mb-3">
                    {{ form_image|crispy }}
                    {% for error in form.file.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}

                </div>
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Upoad recipe</button>
            </div>
        </form>
    </div>
    <br>
{% endblock %}