{% extends "home.html" %}
{% block title %}Create Recipe{% endblock %}
{% block search_box %}
{% endblock %}
{% block content %}
    {% load crispy_forms_tags %}
    <br>
    <div class="container py-5 rounded-4 shadow p-1" style="background-color: white;">
        <form method="post" enctype="multipart/form-data">
            <div class="container mb-3 custom-text">
                <div class="row">
                    <div class="col-lg-6">
                        <img id="previewImage" class="img-fluid mb-3 rounded-3" src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/logo.jpg" alt="Image Preview">
                    </div>
                    <div class="col-lg-6">
                        {% csrf_token %}
                        {{ form_recipe|crispy }}
                        <br>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Upoad recipe</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <br>
    <script>
        document.getElementById('imageInput').addEventListener('change', function() {
            const preview = document.getElementById('previewImage');
            const file = this.files[0];
            const reader = new FileReader();
        
            reader.onload = function() {
                preview.src = reader.result;
            }
        
            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/logo.jpg";
            }
        });
    </script>
{% endblock %}