{% extends "home.html" %}
{% block title %}{{image.recipe_id.name}}{% endblock %}
{% block search_box %}{% endblock %}
{% block content %}
<br>
<div class="container py-5 rounded-4 shadow p-1" style="background-color: rgb(255, 255, 255);">
    <div class="row py-1">
        <div class="col-6">
            <div class="d-flex">
                <img src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/images/profile-pic/{{ image.created_by.profile.profile_pic }}" alt="..." width="38" height="40" class="rounded-circle custom-text-left-2">
                <a href="#" style="color: black;"><h5 class="mx-2">{{ image.created_by }}</h5></a>
            </div>
        </div>
        <div class=" col-6 d-flex justify-content-end">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
            </svg>
            <p class="mx-2">{{ image.recipe_id.takes_time }}</p>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="mx-2 bi bi-people" viewBox="0 0 16 16">
                <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"/>
            </svg>
            <p class="custom-text-right">{{ image.recipe_id.for_how_many_people }}x</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h2>{{ image.recipe_id.title }}</h2>
        </div>
    </div>
    <div class="row py-4">
        <div class="col">
            <img class="img-fluid mx-auto d-block rounded-4 " src="https://myminiprojectrecipe.s3.eu-central-1.amazonaws.com/{{ image.image }}" alt="...">
        </div>
    </div>
    <div class="row py-4">
        <div class="col">
            <h4 class="custom-text-left">Category:</h4>
            {% if image.recipe_id.existing_category %}
                <p class="custom-text-left">{{ image.recipe_id.existing_category }}</p>
            {% elif image.recipe_id.own_category %}
                <p class="custom-text-left">{{ image.recipe_id.own_category }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row py-4">
        <div class="col">
            <h4 class="custom-text-left">Potřebné suroviny:</h4>
            <p class="custom-text-left">{{ image.recipe_id.ingredient }}</p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col container">
            <h4 class="custom-text-left">Postup:</h4>
            <p class="py-2 custom-text-left">{{ image.recipe_id.instructions }}</p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col container text-center">
            {% if image.recipe_id.link_to_youtube %}
                <h4 class="custom-text-left">Video na YouTube</h4>
                <iframe width="560" height="315" src="{{ image.recipe_id.link_to_youtube }}"></iframe>
            {% endif %}
        </div>
    </div>
    <div class="row py-3">
        <div class="col text-center">
            <form method="post">
                {% if user.is_authenticated %}
                    <div class="mb-3 custom-text-left">
                        {% csrf_token %}
                        {% load crispy_forms_tags %}
                        {{ comment_form|crispy }}
                        <br>
                        <button type="submit" class="btn btn-primary">Upload Comment</button>
                    </div>
                {% else %}
                    <h5>Prosim prihlaste se aby jste mohli napsat komenar</h5>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="row py-3">
        <div class="col container">
            {% for comments in comment %}
                <div class="card card-body">
                    <div class="d-flex">
                        <a href="#" style="color: black;"><h5 class="mx-2">{{ comments.user_comment }}</h5></a>
                    </div>
                <p>{{ comments.comment }}</p>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
</div>
<br>
{% endblock %}