body{
    background: linear-gradient(90deg, #ff6a00 5%, rgb(248, 201, 172), 43%, #faab60 100%);
}
.card {
  display: flex;
  flex-direction: column;
}

.fit-cover {
  flex-grow: 1;
  object-fit: cover;
  object-position: center;
  height: 200px;
  width: 100%;
}